{% extends 'base.html' %}
{% block title %}
    <title>Shopping List</title>
{% endblock title %}
{% block content %}
    <main>
        <h1>Your shopping list</h1>
        <ul>
            {% for item in shoppingitem_list %}<li>{{ item.food_item }}</li>{% endfor %}
        </ul>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="control">
                <button type="button">
                    <a href="{% url "shopping_items_delete" %}">Delete</a>
                </button>
            </div>
        </form>
    </main>
{% endblock content %}
