{%extends 'plansbase.html'%}
{% load markdownify %}

{%block title%}
  <title>New Meal Plan - Scrumptious</title>
{%endblock title%}

{%block content%}
  <main class="recipe-detail">
    <div>
      <a href="{% url 'mealplan_edit' mealplan.id %}">Edit</a>
      <a href="{% url 'mealplan_delete' mealplan.id %}">Delete</a>
    </div>
    <h1>{{ mealplan.name }}</h1>
    
  </main>
{%endblock content%}